<link rel="stylesheet" href="skills.css" />
  <div id="principal">

    <div class="skillsdiv">
      {{#each skills}}
      <div class="skillscard">
        <p class="skill"> {{sname}}</p>
        <p class="skill">{{stype}} - {{sdesc}}</p>
      </div>
      {{/each}}
    </div>
    </div>

  <div id="game" class="game">
    <h2>Catch the Moving Box!</h2>
    <p>Click the box as many times as you can in 10 seconds!</p>

    <!-- Game container to limit box movement -->
    <div class="game-container">
      <div id="box" class="box"></div>
    </div>

    <p id="score">Score: 0</p>
    <button onclick="startGame()">Start Game</button>
  </div>

